<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>ID#</th>
      <th>User</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user_id %></td>
        <td><%= link_to image_tag(profile.avatar.url(:thumb)), profile %><br>
            <%= link_to profile.fname + " " + profile.lname, profile %></td>
        <td>Age: <%= profile.age %><br>
            Email: <%= profile.email %><br>
            Phone: <%= profile.phone %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<%= link_to 'New Profile', new_profile_path %>
<% end %>