<p id="notice"><%= notice %></p>

<div class="leftTable">
  <%= @profile.profile_picture %><br>
  <%= @profile.fname + " " + @profile.lname %>
</div>

<div class="rightTable">
  <p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Home', bikes_path %> |
<%= link_to 'Rentals', profile_rentals_path(@profile) %>