<%= form_for([@profile, @rental]) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.text_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :bike_id %><br>
    <%= f.select :bike_id, options_from_collection_for_select(Bike.all, "id", "name") %>
  </div>
  <div class="field">
    <p>Topeak Aero Wedge Saddle Bag - With Strap:</p>
    <%= check_box_tag 'bike[bag]', 'bag' %>
  </div>

  <div class="field">
    <p>Aide Bike Stabilisers 12-20:</p>
    <%= check_box_tag 'bike[stabiliser]', 'stabiliser' %>
  </div>

  <div class="field">
    <p>Halfords Double Buggy Child Bike Trailer:</p>
    <%= check_box_tag 'bike[buggy]', 'buggy' %>
  </div>
    
  <div class="field">
    <p>Hamax Kiss Rear Child Bike Seat - Grey and Green:</p>
    <%= check_box_tag 'bike[seat]', 'seat' %>
  </div>
    
  <div class="field">
    <p>Basil Mara XL Water Resistant Double Pannier Bag - 35L:</p>
    <%= check_box_tag 'bike[waterBag]', 'waterBag' %>
  </div>
    
  <div class="field">
    <p>Bike Eye Bike Mirror:</p>
    <%= check_box_tag 'bike[eyeMirror]', 'eyeMirror' %>
  </div>
    
  <div class="field">
    <p>Halfords Black Bike Bell:</p>
    <%= check_box_tag 'bike[bell]', 'bell' %>
  </div>
    
  <div class="field">
    <p>Halfords Bar End Bike Mirror:</p>
    <%= check_box_tag 'bike[endMirror]', 'endMirror' %>
  </div>
    
  <div class="field">
    <p>Real Bugle Bike Horn:</p>
    <%= check_box_tag 'bike[horn]', 'horn' %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
