<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>

<table>
  <thead>
    <tr>
      <th>ID#</th>
      <th>User</th>
      <th>Bike</th>
      <th>From</th>
      <th>To</th>
      <th>Cost</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.id %></td>
        <% @profile = Profile.find(rental.profile_id) %>
        <td><%= link_to @profile.fname + " " + @profile.lname, "/profiles/#{rental.profile_id}" %></td>
        <% @bike = Bike.find(rental.bike_id) %>
        <td><%= @bike.name %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td><%= rental.cost %></td>
        <td><%= rental.description %></td>
        <td><%= link_to 'Show', "/profiles/#{rental.profile_id}/rentals/#{rental.id}" %> |<br>
        <% if current_user.admin? %>
          <%= link_to 'Edit', "/profiles/#{rental.profile_id}/rentals/#{rental.id}/edit" %> |<br>
          <%= link_to 'Destroy', "/profiles/#{rental.profile_id}/rentals/#{rental.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>