<p id="notice"><%= notice %></p>

<h1>Rentals made by <%= @profile.fname + " " + @profile.lname %></h1>

<table>
  <thead>
    <tr>
      <th>ID#</th>
      <th>Bike</th>
      <th>From</th>
      <th>To</th>
      <th>Cost</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.id %></td>
        <% @bike = Bike.find(rental.bike_id) %>
        <td><%= @bike.name %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td><%= rental.cost %></td>
        <td><%= rental.description %></td>
        <td><%= link_to 'Show', profile_rental_path(@profile, rental) %> | <br>
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_profile_rental_path(@profile, rental) %> | <br>
          <%= link_to 'Destroy', profile_rental_path(@profile, rental), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
      <tr>
        <td colspan = 7>Total Rentals made: <%= @profile.rental.count %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_profile_rental_path(@profile) %> |
<%= link_to 'Back to Bikes', "/bikes/" %>
