<p id="notice"><%= notice %></p>

<h1>Rental made by <%= @profile.fname + " " + @profile.lname %></h1>

<p>
  <strong>Bike:</strong>
  <% @bike = Bike.find(@rental.bike_id) %>
  <%= @bike.name %>

<p>
  <strong>Start date:</strong>
  <%= @rental.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rental.end_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @rental.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rental.description %>
</p>

<%= link_to 'Edit', edit_profile_rental_path(@profile, @rental) %> |
<%= link_to 'Back', profile_rentals_path(@profile) %>
