<p id="notice"><%= notice %></p>
  
<h1>Listing Bikes</h1>
<table>
  <thead>
    <th>ID#</th>
    <th>Bike</th>
    <th>Details</th>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td>Bike #<%= bike.id %></td>
        <td><%= link_to bike.image, bike %><br>
            <%= link_to bike.name, bike %></td>
        <td>Manufacturer: <%= bike.manufacturer %><br>
            Color: <%= bike.color %><br>
            Rental/day: <%= bike.price %><br>
            Description: <%= bike.description %><br></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<%= link_to 'New Bike', new_bike_path %>
<% end %>