<p id="notice"><%= notice %></p>


<p>
  <%= image_tag(@bike.image.url(:preview)) %> <br>
  <strong>Bike:</strong>
  <%= @bike.name %> <br>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @bike.manufacturer %>
</p>

<p>
  <strong>Color:</strong>
  <%= @bike.color %>
</p>

<p>
  <strong>Rental/day:</strong>
  <%= @bike.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bike.description %>
</p>


<div class="clearfix"></div>
<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %> |
<%= link_to 'Reviews', bike_reviews_path(@bike) %>
