<!DOCTYPE html>
<html>
<head>
  <title>RentABike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="login">
    <% if user_signed_in? %>
      <ul>
        <li>Signed in as <%= current_user.email %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
    <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      </ul>
    <% end %>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </div>
<%= yield %>

</body>
</html>
