<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>ID#</th>
      <th>User</th>
      <th>Feedback</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <% @profile = Profile.find(review.profile_id) %>
        <td><%= image_tag(@profile.avatar.url(:thumb)) %> <br>
            <%= @profile.fname + " " + @profile.lname %></td>
        <% @bike = Bike.find(review.bike_id) %>
        <td>Bike: <%= link_to @bike.name, "/bikes/#{review.bike_id}" %> <br><br>
            <%= review.feedback %></td>
        <td><%= review.rating %></td>
        <td><%= link_to 'Show', "/bikes/#{review.bike_id}/reviews/#{review.id}" %> | <br>
        <% if current_user.admin? %>
          <%= link_to 'Destroy', "bikes/#{review.bike_id}/reviews/#{review.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
