<p id="notice"><%= notice %></p>

<h1>Review of <%= @bike.name %> by user <%= @review.profile_id %></h1>
<p>
  <strong>Feedback:</strong>
  <%= @review.feedback %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_bike_review_path(@bike, @review) %> |
<%= link_to 'Back', bike_reviews_path(@bike) %>
